.chartContainer {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Spacing between bars */
  padding: 16px;
  width: 100%;
}

.totalClicks{
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  margin:63px 0px;
}
.totalClicks p{
  color:#1B48DA;
}
.displaySection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  height: 55vh;
}

.clicksPerDay {
  display: flex;
  flex-direction: column;
  gap: 8px; /* Spacing between bars */
  padding: 16px;
  border: 1px solid #ececf2;
  width:50%;
  height:100%;

}

.displayContent{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:16px;
  width: 100%;
}
.clicksPerDevice{
  display: flex;
  flex-direction: column;
  gap: 8px; /* Spacing between bars */
  padding: 16px;
  border: 1px solid #ececf2;
  width:50%;
  height: 100%;
}

.clicksPerDevice h3{
  color:#1B48DA;
  margin-bottom: 39px;
}

.clicksPerDay h3{
  color:#1B48DA;
  margin-bottom: 39px;
}
.clickCountRight {
  color: #000;
  height: 15px;
}

.barWrapper {
  display: flex;
  align-items: center;
  gap: 12px; /* Space between label and bar */
}
.labelColumn{
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  gap:7px;
}

.barColumn{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap:7px;
  
}

.clicksColumn{
  display: flex;
  flex-direction: column;
  gap:4px;
  font-size: 1.6rem;
  font-weight: bold;
}
.label {
  font-size: 1.6rem;
  font-weight: bold;
  min-width: 100px; /* Ensures labels align vertically */
  line-height: 15px;
}

.bar {
  background-color: #1B48DA; /* Green bar color */
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.clickCount {
  font-size: 12px;
}

.error {
  color: red;
  font-weight: bold;
}


@media screen and (max-width: 600px) {
  
  .displaySection{
    flex-direction: column;
  }

  .clicksPerDay{
    width:100%;
  }
  .clicksPerDevice{
    width:100%;
  }

  .clicksColumn{
    margin-left: 100px;
  }
}

@media screen and (max-width: 450px) {
  .clicksColumn{
    margin-left: 10px;
  }
}

@media screen and (max-width: 350px) {
  .label{
    font-size: 1.2rem;
    min-width:80px;
  }

  .clicksColumn{
    font-size: 1.2rem;
  }

  .chartContainer{
    padding:0;
  }
}