
.modalOverlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center; 
    align-items: center;
    z-index: 1000; 
  }
  
  /* Modal Content Box */
  .modalContent {
    background-color: white;
    width: 540px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 12px 0px 0px 12px;
  }
  
  /* Modal Header - for the title and close button */
  .modalHeader {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #3B3C51;
    width: 100%;
    height:55px;
  }
  
  .modalHeader h2 {
    font-size: 1.8rem; /* Title size */
    margin-left: 20px; /* Remove default margin */
    font-weight: 700;
    color:white;
  }
  
  /* Close Button Style */
  .closeButton {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer; /* Pointer cursor for button */
    color: white; /* Gray color for close button */
    margin-right: 20px;
  }
  
  .closeButton:hover {
    transform: scale(1.1);
    filter:brightness(1.2);
  }
  
  /* Modal Body - for the main content */
  .modalBody {
    width:100%;
    height: 600px;
    padding:20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  /* Optional: You can style buttons inside the modal */
  .modalBodyButton {
    background-color: #007bff; /* Blue background for buttons */
    color: white; /* White text color */
    border: none;
    padding: 10px 20px; /* Button padding */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
    margin-top: 20px; /* Space above button */
  }
  
  .modalBodyButton:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  @media screen and (max-width: 600px) {
    .modalContent{
      width: 80%;
      height: 80%;
    }

    .modalHeader h2{
      font-size: 1.4rem;
    }

    .closeButton{
      font-size: 1.4rem;
    }
  }
